<%- include("head") -%>
<div class="box" id="heading">
  <h1><%= itemlists %></h1>
</div>
<div class="box">

  <% newitems.forEach(function(item){ %>
  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%=itemlists%>"></input>
  </form>
  <%  })%>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= itemlists %>">+</button>

  </form>
</div>
<%- include("foot") -%>
